<div>
    <app-header></app-header>
</div>
<div class="container-fluid quote-page-wrapper">
    <div class="wrapper">
        <div class="quote-page">
            <div class="row create-quote-header">
                <h1 class="quote-page-heading">Create Quote</h1>
            </div>

            <div class="row">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-10 col-lg-10">
                    <app-sci-header></app-sci-header>
                </div>
                <div class="col-md-1 col-lg-1"></div>
            </div>

            <div class="row quote-accordions-row">
                <div class="col-md-1 col-lg-1"></div>

                <div class="col-md-10 col-lg-10 quote-accordions">
                    <accordion [closeOthers]="oneAtATime">

                        <accordion-group [isOpen]="true" heading="ASSESSMENT/DEVELOPMENT">
                            <app-standard-cost-item></app-standard-cost-item>
                        </accordion-group>
                        <accordion-group heading="PLEADINGS">
                            <app-standard-cost-item></app-standard-cost-item>
                            <p>Content 1</p>
                        </accordion-group>
                        <accordion-group heading="DISCOVERY">
                            <p>Content 2</p>
                        </accordion-group>
                        <accordion-group heading="MATTER DEFENDED">
                            <p>Content 2</p>
                        </accordion-group>
                        <accordion-group heading="TRIAL PREPARATION AND TRIAL">
                            <p>Content 2</p>
                        </accordion-group>

                        <!-- <accordion-group heading="Content 2">
              <p>Content 2</p>
            </accordion-group> -->

                    </accordion>
                </div>
                <div class="col-md-1 col-lg-1"></div>
            </div>

            <div class="row quote-footer-row">
                <div class="col-md-7 col-lg-7 footer-cols"></div>
                <div class="col-md-2 col-lg-2 footer-cols">
                    <button class="btn btn-generate-quote" (click)="gotoquotesummary()"> Generate Quote</button>
                </div>
                <div class="col-md-1 col-lg-1 footer-cols">
                    <p class="totals">R{{totalQuote}}</p>
                </div>
                <div class="col-md-1 col-lg-1 footer-cols">
                    <p class="totals">R{{totalDisbursement}}</p>
                </div>
                <div class="col-md-1 col-lg-1 footer-cols"></div>
            </div>

        </div>
    </div>

</div>