.quote-page{
  margin-top:0px;
}

.quote-page-wrapper{
  /* height:100%;
   */
  /* height: 867px; */
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quote-page-heading {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 0.7%;
  font-weight: bolder;
  text-transform: uppercase;
}

.input-label {
  color: #ffffff;
  font-size:1rem;
  margin: 20px 0px 5px 0px;
}


/* quote button */
.quote-btn {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color:#ffffff;
  width: 100px;
}

.quote-btn:hover {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #30888d;
}


::ng-deep .panel-default>.panel-heading {
  color: #ffffff;
  background-color:#ccc2c2; /*#b2aeae;;/* #333; #f5f5f5;*/
  border-color: #ddd;
  padding: 0px;
}

::ng-deep .panel {
  /* border: 0px; */
  border-radius: 4px;
  /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}

::ng-deep .panel-group .panel {
  margin-bottom: 0px;
  /* border-radius: 4px; */
}
::ng-deep .btn-link {
  font-size: 2rem;
  font-weight: 450;
  color: #ffffff !important;
  border-radius: 0;
  text-decoration: none;
}

::ng-deep .btn-link:focus,
::ng-deep .btn-link:hover {
  text-decoration: none;
  border-color: transparent;
}

::ng-deep .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: 0px;
  border-top-color: transparent !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.create-quote-header {
  margin-bottom: 30px;
}

.quote-accordions-row{
  overflow: scroll !important;
  height: -webkit-fill-available;
  padding-bottom: 225px;
}

.quote-footer-row {
  height: 70px;
  background-color: #49cfd5;
  position: absolute;
  overflow: overlay;
  width: 100%;
  display: block;
  z-index: 10;
  bottom: 0;
}

.btn-generate-quote{
  background-color: #49cfd5;
  color: #000000;
  border: 1px solid #525257;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 43px;
  font-weight: bolder;
  padding-top: inherit;
  margin-top: -5px;
}

.btn-generate-quote:hover{
  background-color: #30888d;
  color: #ffffff;
}

.footer-cols {
  padding-top: 1%;
  padding-bottom: 1%;
  border-left: 0.5px solid grey;
}

.totals{
  color: #000000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 5px;
}
