<div>
  <app-header></app-header>
</div>
<div class="container-fluid home-page-wrapper">
  <div class="wrapper">
    <div class="home-page">
      <div class="row">
        <h1 class="home-page-heading">HOME</h1>
      </div>

      <div class="row home-buttons">
        <div class="col-lg-4 col-md-4 option-cols">
          <div class="option-button" (click)="goToQuotePage()">
           <p class="option"><span class="glyphicon glyphicon-new-window option-icon"></span>New Quote</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 option-cols" (click)="goToHistoryPage()">
          <div class="option-button">
            <p class="option">History</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 option-cols" (click)="goToAdminPage()">
          <div class="option-button">
            <p class="option">Administration</p>
          </div>
        </div>
      </div>

      <!-- <div class="home-form">


      </div> -->

    </div>
  </div>

</div>
