.home-page{
  margin-top:0px;
}

.home-page-wrapper{
  background-image: url("../../../assets/moli1.jpg");
  /* height:100%;
   */
  height: 867px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-page-heading {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 0.7%;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ffffff;
}

.home-buttons {
  padding: 30px;
  height:100%;
}

.option-button {
  margin: 0 auto;
  margin-top: 5%;
  /* margin-bottom: 9%; */
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  /* padding: 50px; */
  border-radius: 15px;
  border-top: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 30%;
}

.option-button:hover {
  cursor: pointer;
  color: #49cfd5;
  border-radius: 20px;
  border-top: 8px solid #49cfd5;
}

.option {
  color: #ffffff;
  margin: 0 auto;
  font-size: 2.8rem;
  /* height: 500px; */
  padding-top: 32%;
}

.option:hover {
  color: #49cfd5;
}

.option-icon {
  margin-right: 5px;
}

.option-cols{
  /* height: 500px; */
  /* width: auto; */
}

.form-signin{
  margin: 0 auto;
}

@media screen and (max-width: 768px) {

  .option-cols {
    /* height: 400px; */
  }

  .option-button{
    height: 63%;
    width: 79%;
    padding-bottom: 14%;
  }

  .option{
    font-size: 2.5rem;
    padding-top: 18%;
  }
}

@media screen and (max-width: 425px) {

  .option-cols {
    /* height: 200px; */
  }

  .option-button{

  }

  .option{
    font-size: 2rem;
    padding-top: 18%;
  }


}

@media screen and (max-width: 325px) {

  .option-cols {
    /* height: 400px; */
  }

  .option-button{
    height: 63%;
    width: 79%;
    padding-bottom: 14%;
  }

  .option{
    font-size: 1.8rem;
    padding-top: 18%;
  }
}
