.input-label {
  color: #000000;
  font-size:1rem;
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}

.input-box{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* height: auto; */
  box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
  width: 73%;
  border-radius: 5px;
}

.firm-address-text-area {
  width: 73%;
  height: 20%;

}

.admin-firm-details {

}
.firm-details-row{
  margin:10px;
  padding-left: 0px;
}
/* login button */
.update-firm-btn {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color:#ffffff;
  width: 100px;
}

.update-firm-btn:hover {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #30888d;
}


/* Responsivenes */


@media screen and (max-width: 430px) {

  .input-box{
    padding: 6px;
    font-size: 13px;
    width: 100%;
  }

  .firm-address-text-area {
    width: 100%;
    height: 20%;

  }

  .firm-details-row{
    padding-left: 0px;
  }

  .update-firm-btn{
    font-size: 14px;
    width: 80px;
  }

  .update-firm-btn:hover{
    font-size: 14px;
    width: 80px;
  }

}
