<div class="row admin-firm-details noselect">
    <h4>Firm Legal Information</h4>
    <div class="col-lg-12 col-md-12 firm-details-row">
        <h6 class="input-label input-labels-text noselect">firm legal name</h6>
        <input autocomplete name="username" type="text" class="input-box" placeholder="{{firm.legalName}}" autofocus minlength="2" maxlength="20" [(ngModel)]="firmName">
    </div>
    <div class="col-lg-12 col-md-12 firm-details-row">
        <h6 class="input-label input-labels-text noselect">firm Legal Reference</h6>
        <input autocomplete name="username" type="text" class="input-box" placeholder="{{firm.legalReference}}" [(ngModel)]="firmLegalReference">

    </div>
    <div class="col-lg-12 col-md-12 firm-details-row">
        <h6 class="input-label input-labels-text noselect">firm Address</h6>
        <textarea name="firm details" class="firm-address-text-area" placeholder="test test" id="" [(ngModel)]="firmAddress">{{firm.address}} </textarea>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-block update-firm-btn" [disabled]="clicked" (click)="updatefirmDetails()" type="submit">SAVE</button>
    </div>
</div>