.quote-page {
    margin-top: 0px;
}

.quote-page-wrapper {
    /* height:100%;
   */
    /* height: 867px; */
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-page-heading {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 0.7%;
    font-weight: bolder;
    text-transform: uppercase;
}

.input-label {
    color: #ffffff;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
}

.quote-summary-header {
    margin: 0px;
    /* position: absolute; */
    z-index: 1000;
    width: 100%;
}

.header-text {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 0px;
    padding: 2px;
}

.header-with-content {
    background-color: #49cfd5;
    /* background-color: #30888d; */
    border: 1px solid #d2d0d087;
    color: #ffffff;
}

.input-label {
    color: #000000;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
}

.client-info-row {
    margin-bottom: 10px;
}

.header-with-content {
    background-color: #49cfd5;
}

.totalcalc-text {
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    width: 17%;
    float: left;
    /* float: inherit; */
}

.quote-summary-total {
    border: 0px;
}

.list-items {
    text-align: justify;
}

li {
    text-decoration: none;
    list-style: none;
}

.footer-content {
    color: #000000;
}

.option-icon {
    float: left;
    /* width: 40px; */
    font-size: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 8px;
    margin-left: 31px;
    color: #adabab;
    left: 330px;
}

.quote-summary-options {
    margin-top: 28px;
}

.option-icon:hover {
    cursor: pointer;
    color: #716f6f;
}