<div>
    <app-header></app-header>
</div>
<div class="container-fluid quote-page-wrapper">
    <div class="wrapper">
        <div class="quote-page">
            <div class="row">
                <h1 class="quote-page-heading">Quote Summary</h1>
            </div>
            <div class="row client-info-row">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="input-label input-labels-text noselect">Client Name</h6>
                    <input autocomplete name="username" type="text" class="form-control" placeholder="username" required autofocus minlength="2" maxlength="20">
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="input-label input-labels-text noselect">Client Reference</h6>
                    <input autocomplete name="username" type="text" class="form-control" placeholder="username" required minlength="2" maxlength="20">
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="input-label input-labels-text noselect">Client Email</h6>
                    <input autocomplete name="username" type="email" class="form-control" placeholder="username" required minlength="2" maxlength="20">
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="quote-summary-options">
                        <span class="glyphicon glyphicon-print option-icon"></span>
                        <span class="glyphicon glyphicon-download option-icon"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>

            <div class="row">
                <div class="row quote-summary-header noselect">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-2 col-md-2 header-with-content noselect">
                        <p class="header-text">Task</p>
                    </div>
                    <div class="col-lg-2 col-md-2 header-with-content noselect">
                        <p class="header-text">Quantity</p>
                    </div>
                    <div class="col-lg-2 col-md-2 header-with-content noselect">
                        <p class="header-text">Unit of Measurement</p>
                    </div>
                    <div class="col-lg-1 col-md-1 header-with-content noselect">
                        <p class="header-text">Rate</p>
                    </div>
                    <div class="col-lg-1 col-md-1 header-with-content noselect">
                        <p class="header-text">Fees</p>
                    </div>
                    <div class="col-lg-2 col-md-2 header-with-content noselect">
                        <p class="header-text">Disbursements</p>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>

                <div class="row sci-content">
                    <app-quote-summary-scis *ngFor="let sci of standardCositemSummaries.scis" [sci]=sci></app-quote-summary-scis>
                </div>

                <div class="row quote-summary-total noselect">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10 col-md-10 header-with-content noselect">
                        <div class="footer-content">
                            <p class="totalcalc-text">Subtotal:</p>
                            <p class="totalcalc-text">{{total}}</p>
                            <p class="totalcalc-text">{{totalDisbursemnt}}</p>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>
                <div class="row quote-summary-total noselect">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10 col-md-10 header-with-content noselect">
                        <p class="totalcalc-text">Drawing fee @ 5%</p>
                        <p class="totalcalc-text">{{drawingFee}}</p>
                        <p class="totalcalc-text">-</p>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>
                <div class="row quote-summary-total noselect">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10 col-md-10 header-with-content noselect">
                        <p class="totalcalc-text">Subtotal:</p>
                        <p class="totalcalc-text">{{total}}</p>
                        <p class="totalcalc-text">{{totalDisbursemnt}}</p>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>
                <div class="row quote-summary-total noselect">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10 col-md-10 header-with-content noselect">
                        <p class="totalcalc-text">VAT at 15%:</p>
                        <p class="totalcalc-text">{{VAT}}</p>
                        <p class="totalcalc-text">R0</p>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>
                <div class="row quote-summary-total noselect">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10 col-md-10 header-with-content noselect">
                        <p class="totalcalc-text">Total</p>
                        <p class="totalcalc-text">{{total}}</p>
                        <p class="totalcalc-text">{{totalDisbursemnt}}</p>
                    </div>
                    <div class="col-lg-1 col-md-1"></div>
                </div>
            </div>

        </div>
    </div>

</div>