.admin-firm-content {
    border: 1px solid #d2d0d087;
    color: #000000;
    background-color: #ffffff;
    display: grid;
}

.admin-firm {
    height: 24px;
    padding: 0px;
}

.admin-firm-roles {
    width: 100%;
    display: grid;
}

.admin-firm-role-input {
    font-size: 12px;
    width: -webkit-fill-available;
    margin-left: 3px;
    margin-right: 3px;
    border: 0.5px;
    margin: 0 auto !important;
}

.add-columns {
    right: 2.2%;
    top: 25.5%;
    /* position: relative; */
    text-align: right;
    position: absolute;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 17px;
    cursor: pointer;
}


/* admin-firm header */

.admin-firm-header {
    margin: 0px;
    /* position: absolute; */
    z-index: 1000;
    width: 100%;
    display: grid;
}

.header-text {
    font-size: 13px;
    /* font-size: 22px; */
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-bottom: 0px;
    padding: 2px;
}

.header-with-content {
    background-color: #49cfd5;
    /* background-color: #30888d; */
    border: 1px solid #d2d0d087;
    color: #ffffff;
    /* width: auto; */
}

.admin-firm-page-header-wrapper {
    overflow: scroll !important;
    /* height: -webkit-fill-available; */
}

.admin-firm-page-main-wrapper {
    height: 100%;
}

.empty-cols {
    border: 0px;
}

.roles-row {
    margin-bottom: 30px;
}


/* insert-role-btn button */

.insert-role-btn {
    font-size: 11px;
    margin: 0px auto;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    background-color: #49cfd5;
    color: #ffffff;
    width: 75px;
    height: 23px;
    margin-top: 10px;
}

.insert-role-btn:hover {
    background-color: #30888d;
}

.error-msg {
    margin-top: 10px;
    margin-bottom: 5px;
}

.rate-interval {
    text-align: right;
}


/* border color: #75737387 */