<div class="roles-row">
    <h4>Firm Roles</h4>
    <div class="row noselect">
        <div class="col-lg-3 col-md-3 header-with-content noselect">
            <p class="header-text">Role</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Km Rate</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Hourly Rate</p>
        </div>
        <div class="col-lg-3 col-md-3 header-with-content noselect">
            <p class="header-text">15min Time interval Rate</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Active</p>
        </div>
        <div class="col-lg-1 col-md-1 admin-firm admin-firm-content empty-cols noselect"></div>
    </div>

    <div *ngFor="let role of roles" class="row noselect">
        <div class="col-lg-3 col-md-3 admin-firm admin-firm-content noselect">
            <!-- <input class="admin-firm-role-input" type="text" placeholder="{{role.name}}" /> -->
            <p class="header-text">{{role.name}}</p>
        </div>
        <div class="col-lg-2 col-md-2 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" type="number" placeholder="{{role.kmRate}}" />
        </div>
        <div class="col-lg-2 col-md-2 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" type="number" placeholder="{{role.hourlyRate}}" />
        </div>
        <div class="col-lg-3 col-md-3 admin-firm admin-firm-content noselect">
            <p class="header-text rate-interval">{{role.hourlyRate/4}}</p>
            <!-- <input class="admin-firm-role-input" type="number" placeholder="{{role.fifteenMinIntervalRate}}" /> -->
        </div>
        <div class="col-lg-1 col-md-1 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 admin-firm admin-firm-content empty-cols noselect"></div>
    </div>
</div>

<div>
    <p class="new-role-msg">New Role</p>

    <div class="row noselect">
        <div class="col-lg-3 col-md-3 header-with-content noselect">
            <p class="header-text">Role</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Km Rate</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Hourly Rate</p>
        </div>
        <div class="col-lg-3 col-md-3 header-with-content noselect">
            <p class="header-text">15min Tie interval Rate</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Active</p>
        </div>
        <div class="col-lg-1 col-md-1 admin-firm admin-firm-content empty-cols noselect"></div>
    </div>
    <div class="row noselect">
        <div class="col-lg-3 col-md-3 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" type="text" [(ngModel)]="roleName" placeholder="Role name" />
            <!-- <p class="header-text">{{role.name}}</p> -->
        </div>
        <div class="col-lg-2 col-md-2 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" type="number" [(ngModel)]="kmRate" placeholder="0" />
        </div>
        <div class="col-lg-2 col-md-2 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" type="number" [(ngModel)]="hourlyRate" placeholder="0" />
        </div>
        <div class="col-lg-3 col-md-3 admin-firm admin-firm-content noselect">
            <p class="header-text" style="text-align:right">{{hourlyRate/4}}</p>
            <!-- <input class="admin-firm-role-input" type="number" placeholder="0" /> -->
        </div>
        <div class="col-lg-1 col-md-1 admin-firm admin-firm-content noselect">
            <input class="admin-firm-role-input" [(ngModel)]="roleStatus" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 admin-firm admin-firm-content empty-cols noselect">
        </div>
    </div>
    <div class="row error-msg noselect">
        <p>{{errMsg}}</p>
    </div>
    <div class="row noselect">
        <button class="btn btn-block insert-role-btn" [disabled]="clicked" (click)="insertRole()" type="submit">ADD ROLE</button>
    </div>
</div>