<div>
<app-header></app-header>
</div>
<div class="container-fluid login-page-wrapper">
  <div class="wrapper">
  <div class="login-page">
    <div class="login-form">

      <form class="form-signin" (ngSubmit)="login()" [formGroup]="loginForm">

        <p class="welcome-message noselect"> Welcome to LegalQ</p>
        <!-- form input -->
        <div class="form-group form-group-details">
          <h6 class="input-label input-labels-text noselect">username</h6>
          <input autocomplete formControlName="username" name="username" type="text" class="form-control"
            placeholder="username" required autofocus minlength="2" maxlength="20"
            (onchange)="applyInputError()">

          <h6 class="input-label input-labels-text noselect">password</h6>
          <input formControlName="password" name="password" type="password" class="form-control" required autofocus
            minlength="8" maxlength="30"
            (onchange)="applyInputError()">
        </div>

        <div class="row top-buffer"></div>

        <div class="row">
          <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding">
            <button class="btn btn-block login-btn" [disabled]="clicked" type="submit">GO</button>
          </div>
          <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row">
          <p class="forgot-password" (click)="forgotPassword()">Forgot Password</p>
        </div>
      </form>
    </div>

  </div>
</div>

</div>
