<div class="firm-permissions-row">
    <h4>Firm Roles Permissions</h4>
    <div class="row firm-permissions-header noselect">
        <div class="col-lg-2 col-md-2  header-with-content noselect">
            <p class="header-text">Role</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Overwrite Default Rates</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Overwrite Default UOM</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Overwrite Calculated Cost</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Overwrite default email address</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Add Additional email address</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Print Quote</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Reuse History Quote</p>
        </div>

    </div>

    <div *ngFor="let role of roles" class="row noselect">
        <div class="col-lg-2 col-md-2 firm-perssions firm-perssions-content noselect">
            <p class="header-text">{{role.name}}</p>
            <!-- <input class="firm-perssions-role-input" type="checkbox" /> -->
        </div>
        <div class="col-lg-1 col-md-1 firm-perssions firm-perssions-content noselect">
            <!-- Overwrite Default Rates -->
            <input class="firm-perssions-role-input" (change)="addPermission('OVERWRITERATES', role.name)" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 firm-perssions firm-perssions-content noselect">
            <!-- Overwrite Default UOM -->
            <input class="firm-perssions-role-input" (change)="addPermission('OVERWRITEUOM', role.name)" type="checkbox" />
        </div>
        <div class="col-lg-2 col-md-2 firm-perssions firm-perssions-content noselect">
            <!-- Overwrite Calculated Cost -->
            <input class="firm-perssions-role-input" (change)="addPermission('OVERWRITECALCULATEDCOST', role.name)" type="checkbox" />
        </div>
        <div class="col-lg-2 col-md-2 firm-perssions firm-perssions-content noselect">
            <!-- Overwrite default email address -->
            <input class="firm-perssions-role-input" (change)="addPermission('OVERWRITEEMAIL', role.name)" type="checkbox" />
        </div>
        <div class="col-lg-2 col-md-2 firm-perssions firm-perssions-content noselect">
            <!-- Add Additional email address -->
            <input class="firm-perssions-role-input" (change)="addPermission('ADDITIONALEMAIL', role.name)" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 firm-perssions firm-perssions-content noselect">
            <!-- Print Quote -->
            <input class="firm-perssions-role-input" (change)="addPermission('PRINTQUOTE', role.name)" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 firm-perssions firm-perssions-content noselect">
            <!-- Reuse History Quote -->
            <input class="firm-perssions-role-input" (change)="addPermission('REUSEQUOTE', role.name)" type="checkbox" />
        </div>

    </div>
</div>