.firm-perssions-content {
  border: 1px solid #d2d0d087;
  color: #000000;
  background-color: #ffffff;
  display: grid;
}

.firm-perssions {
  height: 24px;
  padding: 0px;
}

.firm-perssions-roles {
  width: 100%;
  display: grid;
}



.add-columns {
    right: 2.2%;
    top: 25.5%;
    /* position: relative; */
    text-align: right;
    position: absolute;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 17px;
    cursor: pointer;
}

/* firm-perssions header */

.firm-perssions-header {
  margin: 0px;
  /* position: absolute; */
  z-index: 1000;
  width: 100%;
  display: grid;
}

.header-text {
font-size: 13px;
/* font-size: 22px; */
font-family: 'Open Sans', sans-serif;
text-align: left;
margin-bottom: 0px;
padding: 2px;
}

.header-with-content{
  background-color: #49cfd5;
  border: 1px solid #d2d0d087;
  color: #ffffff;
  height: 41px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}

.firm-perssions-page-header-wrapper {
overflow: scroll !important;
/* height: -webkit-fill-available; */
}

.firm-perssions-page-main-wrapper{
  height: 100%;
}

.empty-cols {
  border: 0px;
}

.roles-row{
  margin-bottom: 30px;
}

.firm-perssions-role-input {
  font-size: 12px;
  width: -webkit-fill-available;
  margin-left: 3px;
  margin-right: 3px;
  border: 0.5px;
  margin: 0 auto !important;
}

.firm-permissions-header {
  height: 25px;
}
