<div>
    <app-header></app-header>
  </div>
  <div class="container-fluid home-page-wrapper">
    <div class="wrapper">
      <div class="home-page">
        <div class="row">
          <h1 class="home-page-heading">MATTER TYPE</h1>
        </div>

        <div class="row home-buttons">
          <div class="col-lg-6 col-md-6 option-cols">
            <div class="option-button" (click)="setPlantiff()">
             <p class="option">Plantiff / Applicant</p>
            </div>

          </div>
          <div class="col-lg-6 col-md-6 option-cols" (click)="setRespondant()">
            <div class="option-button">
              <p class="option">Defendant / Respondant</p>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
