<div class="container-fluid" (window:resize)="onResize($event)">
  <div *ngIf="!mobile else mobileHeader" class="row header-row">
    <div class="col-lg-8 col-md-8 header-cols">
      <img (click)="goHome()" class="img-responsive logo" src="../../../assets/logo.jpg" />
    </div>
    <div class="col-lg-1 col-md-1 header-cols">
      <p class="header-nav-menu" (click)="createQuotePage()">Quote</p>
    </div>
    <div class="col-lg-1 col-md-1 header-cols">
      <p class="header-nav-menu" (click)="goToHistory()">History</p>
    </div>
    <div class="col-lg-1 col-md-1 header-cols">
      <p class="header-nav-menu" (click)="goToAdminPage()">Admin</p>
    </div>
    <div class="col-lg-1 col-md-1 header-cols">
      <p class="header-nav-menu" (click)="logout()">Logout</p>
    </div>
  </div>

  <ng-template #mobileHeader>
    <div class="row header-row" container="body">
      <div class="col-lg-9 col-md-9 header-mobile-cols">
        <img class="img-responsive logo" src="../../../assets/logo.jpg" />
      </div>
      <div class="col-lg-12 col-md-12 header-mobile-cols" dropdown>
        <img id="button-container" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic" data-toggle="dropdown-container"
          class="img-responsive dropdown-menu-toggle dropdown-toggle" src="../../../assets/mobi-nav.png" />

        <div class="dropdown-menu" id="dropdown-container" *dropdownMenu role="menu" aria-labelledby="button-container">
          <ul class="mobile-header-menu">
            <li class="menuitem-list" role="menuitem">
              <p class="mobile-header-nav-menu" (click)="createQuotePage()">Quote</p>
            </li>
            <li class="menuitem-list" role="menuitem">
              <p class="mobile-header-nav-menu" (click)="goToHistory()">History</p>
            </li>
            <li class="menuitem-list" role="menuitem">
              <p class="mobile-header-nav-menu" (click)="goToAdminPage()">Admin</p>
            </li>
            <li class="menuitem-list" role="menuitem">
              <p class="mobile-header-nav-menu" (click)="logout()">Logout</p>
            </li>
            <!-- <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
          </li> -->
          </ul>
        </div>
      </div>
    </div>

  </ng-template>

</div>
