.container-fluid {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}

.header-row {
    width: 100%;
    height: 100%;
    /* background-color: grey; */
    background-color: #ffffff;
    border-bottom: 1px rgba(134, 133, 133, 0.5) solid;
    box-shadow: 0px 0px 10px 10px #888888;
    box-shadow: 0px 5px 5px rgba(182, 182, 182, 0.75);
    /* border-bottom: 2px solid #49cfd5; */
}

.header-cols {
    /* background-color: grey; */
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 57px;
    /* border-right: 1px rgba(134, 133, 133, 0.5) solid; */
}

.logo {
    width: 150px;
    /* height:100%; */
    padding: 10px;
}

.dropdown-menu-toggle {
    width: 38px;
    top: -46px;
    position: absolute;
    left: 708px;
    cursor: pointer;
    /* bottom: 10px; */
}

.header-nav-menu {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    height: 70px;
    margin: 0px;
    padding-top: 15%;
    font-weight: 500;
}

.header-nav-menu:hover {
    /* background-color: #49cfd5; */
    color: #49cfd5;
    cursor: pointer;
    /* color: #ffffff; */
}

.logo:hover {
    cursor: pointer;
}


/* Mobile CSS*/

.header-moble-cols {
    /* background-color: grey; */
    padding-right: 0px !important;
    padding-left: 0px !important;
    height: 70px;
}

.menuitem-list {
    list-style: none;
}

.dropdown-menu {
    width: 100%;
    z-index: 2000;
    /* overflow: visible */
    overflow: overlay;
    position: inherit;
    border: 0px;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .175);
    border-top: 1px solid rgba(204, 199, 199, 0.5);
    border-bottom: 1px solid rgba(204, 199, 199, 0.5);
}

.mobile-header-menu {
    padding-left: 30px;
}

.mobile-header-nav-menu {
    width: 100%;
    z-index: 2000;
    font-size: 1.5em;
    /* border-bottom: 1px solid rgba(158, 156, 156, 0.5); */
}

.header-mobile-cols {
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 997px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 917px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 930px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 875px;
    }
}

@media screen and (max-width: 887px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 800px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 800px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 715px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 740px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 648px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 680px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 608px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 620px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 562px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 590px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 520px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 530px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 470px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 480px) {
    .dropdown-menu-toggle {
        width: 40px;
        top: -50px;
        position: absolute;
        left: 424px;
        /* bottom: 10px; */
    }
}

@media screen and (max-width: 425px) {
    .dropdown-menu-toggle {
        width: 33px;
        top: -42px;
        position: absolute;
        left: 373px !important;
        /* bottom: 10px; */
    }
    .header-row {
        /* height: 57%; */
        height: 55px;
    }
    .logo {
        width: 140px;
        /* height:100%; */
        padding: 10px;
    }
}

@media screen and (max-width: 375px) {
    .dropdown-menu-toggle {
        width: 32px;
        /* width: 35px; */
        top: -41px;
        position: absolute;
        left: 328px !important;
        /* bottom: 10px; */
    }
    .header-row {
        /* height: 57%; */
        height: 54px;
    }
    .logo {
        width: 135px;
        padding: 10px;
    }
}

@media screen and (max-width: 325px) {
    .logo {
        width: 125px;
        padding: 10px;
    }
    .dropdown-menu-toggle {
        width: 28px;
        top: -36px;
        position: absolute;
        left: 281px !important;
    }
    .header-row {
        /* height: 57%; */
        height: 47px;
    }
}


/* .dropdown{
  z-index: 2000;
  overflow: visible
} */