<!-- Maybe make this a stanadlone component that will be appended on plus click -->
<div class="row sci-header noselect">

  <div class="sci-page-header-wrapper">
    <!-- header for roles div -->
    <app-sci-roles-header></app-sci-roles-header>

    <!-- sci roles row -->
    <app-sci-roles-content></app-sci-roles-content>
  </div>
          <!-- <div class="row sci-header noselect">
           <div class="col-lg-1 col-md-1 sci sci-content empty-cols noselect"></div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
                <p class="header-text">Role</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
                <p class="header-text">Quantity</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Unit of Measurement</p>
            </div>
            <div class="col-lg-1 col-md-1 header-with-content noselect">
              <p class="header-text">Rate</p>
            </div>
            <div class="col-lg-1 col-md-1 header-with-content noselect">
              <p class="header-text">Fees</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Km Travelled</p>
            </div>
            <div class="col-lg-1 col-md-1 header-with-content noselect">
              <p class="header-text">Km Rate</p>
            </div>
            <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span>
          </div> -->

  </div>


