
.page-wrapper{
  background-image: url("../../../assets/main-headerbg.jpg");
  /* height:100%;
   */
  height: 867px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-control{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  width: 300px;
}

.input-label {
  color: #ffffff;
  font-size:1rem;
  margin: 20px 0px 5px 0px;
}

.login-form  {
  margin: 0 auto;
  margin-top: 5%;
  /* margin-bottom: 9%; */
  overflow: hidden;
  text-transform: uppercase;
  width: 500px;
  padding: 50px;
  border-radius: 15px;
  border-top: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

.welcome-message{
  color: #ddd;
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
}

.reset-password-btn {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color:#ffffff;
  width: 170px;
}

.reset-password-btn:hover {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #30888d;
}

.form-group-details {
  margin-bottom: 25px;
  margin-left: 15%;
}

.go-home{
  color: rgb(139, 139, 139);
  text-align: center;
  font-size: 1.7rem;
  margin-top: 30px;
}

.go-home:hover{
  color: #ffffff;
  text-align: center;
  font-size: 1.7rem;
  cursor: pointer;

}

.reset-password-msg-row {
  margin-top:25px;
}

.reset-password-msg {
  color: #ffffff;
}
