<app-header></app-header>
<div class="container-fluid page-wrapper">
    <div class="wrapper">
    <div class="login-page">
      <div class="login-form">

        <form class="form-signin" (ngSubmit)="resetPassword()" [formGroup]="resetpasswordForm">

          <p class="welcome-message noselect"> Reset your password</p>
          <!-- form input -->
          <div class="form-group form-group-details">
            <h6 class="input-label input-labels-text noselect">Email</h6>
            <input formControlName="email" name="email" type="email" class="form-control"
               required autofocus minlength="8" maxlength="255">
          </div>

          <div class="row top-buffer"></div>

          <div class="row">
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 no-padding">
              <button class="btn btn-block reset-password-btn" [disabled]="clicked" type="submit">Reset Password</button>
            </div>
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div>
          </div>


          <div class="row reset-password-msg-row">
            <p class="reset-password-msg">A link has been sent to the provided email address to reset your password.</p>
          </div>
          <div class="row">
            <p class="go-home" (click)="goToHomeScreen()">Go Home</p>
          </div>
        </form>
      </div>

    </div>
  </div>

  </div>
