.admin-page {
    margin-top: 0px;
}

.admin-page-wrapper {
    /* height:100%;
   */
    /* height: 867px; */
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.admin-accordions-row {
    overflow: scroll !important;
    height: -webkit-fill-available;
    padding-bottom: 225px;
}

.input-label {
    color: #ffffff;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
}


/* admin button */

.admin-btn {
    font-size: 18px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #49cfd5;
    color: #ffffff;
    width: 100px;
}

.admin-btn:hover {
    font-size: 18px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #30888d;
}

.admin-header {
    margin-bottom: 30px;
}

.admin-accordions-row {
    overflow: scroll !important;
    height: -webkit-fill-available;
    padding-bottom: 225px;
}

::ng-deep .panel-default>.panel-heading {
    color: #ffffff;
    background-color: #b2aeae;
    ;
    /* #333; #f5f5f5;*/
    border-color: #ddd;
}

::ng-deep .panel {
    /* border: 0px; */
    border-radius: 4px;
    /* box-shadow: 0 1px 1px rgba(0,0,0,.05); */
}

::ng-deep .panel-group .panel {
    margin-bottom: 18px;
    /* border-radius: 4px; */
}

::ng-deep .btn-link {
    font-size: 2rem;
    font-weight: 450;
    color: #ffffff !important;
    border-radius: 0;
    text-decoration: none;
}

::ng-deep .btn-link:focus,
::ng-deep .btn-link:hover {
    text-decoration: none;
    border-color: transparent;
}

.admin-page-heading {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 0.7%;
    font-weight: bolder;
    text-transform: uppercase;
    margin-left: 32px;
}

@media screen and (max-width: 1440) {
    .admin-page-heading {
        margin-left: 25px;
    }
}

@media screen and (max-width: 768px) {
    .admin-page-heading {
        font-size: 22px;
        margin-left: 19px;
    }
     ::ng-deep .panel-default>.panel-heading {
        height: 42px;
        ;
    }
    .admin-header {
        margin-bottom: 15px;
    }
     ::ng-deep .btn-link {
        font-size: 1.6rem;
        padding-top: 10px;
        padding-left: 0px !important;
        border: 0px !important;
    }
     ::ng-deep .panel-default>.panel-heading {
        padding-bottom: 0px !important;
        padding-top: 0px !important;
    }
     ::ng-deep .panel-group .panel {
        margin-bottom: 10px;
        /* border-radius: 4px; */
    }
}

@media screen and (max-width: 325px) {
    .admin-page-heading {
        font-size: 16px;
        margin-left: 19px;
    }
     ::ng-deep .panel-default>.panel-heading {
        font-size: 14px;
        height: 42px;
        ;
    }
    .admin-header {
        margin-bottom: 15px;
    }
     ::ng-deep .btn-link {
        font-size: 0.8em;
        padding-top: 10px;
        padding-left: 0px;
    }
}