<div>
    <app-header></app-header>
</div>

<div class="container-fluid admin-page-wrapper">
    <div class="wrapper">
        <div class="admin-page">
            <div class="row admin-header">
                <h1 class="admin-page-heading">Administration</h1>
            </div>
            <div *ngIf="firm != null" class="row admin-accordions-row">
                <div class="col-md-1 col-lg-1"></div>
                <div class="col-md-10 col-lg-10 admin-accordions">
                    <accordion [closeOthers]="oneAtATime">
                        <accordion-group heading="LEGAL PRACTITIONER DETAILS">
                            <app-firm-details [firmRef]=firmRef></app-firm-details>
                        </accordion-group>
                        <accordion-group heading="LEGAL PRACTITIONER TEMPLATE FILE">
                            <app-firm-template [firmRef]=firmRef></app-firm-template>
                        </accordion-group>
                        <accordion-group heading="ROLES">
                            <app-firm-roles-details [firmRef]=firmRef></app-firm-roles-details>
                        </accordion-group>
                        <accordion-group heading="RATES">
                            <app-admin-rates [firmRef]=firmRef></app-admin-rates>
                        </accordion-group>
                        <accordion-group heading="STANDARD COST ITEMS">
                            <app-admin-sci></app-admin-sci>
                            <!-- <p>Content 2</p> -->
                        </accordion-group>
                        <accordion-group heading="PERMISSIONS">
                            <app-permissions [firmRef]=firmRef></app-permissions>
                        </accordion-group>
                        <accordion-group heading="FIRM CLAUSES">
                            <app-firm-clauses [firmRef]=firmRef></app-firm-clauses>
                        </accordion-group>

                    </accordion>
                </div>
                <div class="col-md-1 col-lg-1"></div>
            </div>


        </div>
    </div>

</div>