<!-- Filter options -->
<div class="row sci-filter-header">
    <div class="col-lg-2 col-md-2">
        <h6 class="input-label input-labels-text noselect">Client Action</h6>
        <select class="select-options" [(ngModel)]="matterType" (change)="updateMatterType($event.target.value)">
      <option *ngFor="let matteractionmotion of matterActionMotion" [value]="matterType">{{matteractionmotion.name}}</option>
    </select>
    </div>
    <div class="col-lg-2 col-md-2">
        <h6 class="input-label input-labels-text noselect">Matter Type</h6>
        <select class="select-options" [(ngModel)]="motionAction" (change)="updateMatterType($event.target.value)">
      <option *ngFor="let mattertype of matterTypes" [value]="motionAction">{{mattertype.name}}</option>
    </select>
    </div>
    <div class="col-lg-2 col-md-2">
    </div>
    <div class="col-lg-6 col-md-6"></div>
</div>

<!-- Header -->
<div class="row admin-sci-header noselect">
    <div class="col-lg-3 col-md-3  header-with-content noselect">
        <div class="header-with-content header-no noselect">
            <p class="header-text">No.</p>
        </div>
        <div class=" header-with-content header-name noselect">
            <p class="header-text">Standard cost Item</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Trial Phases</p>
        <!-- Will be a dropdown -->
    </div>
    <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Default Rate</p>
        <!-- Will be a dropdown -->
    </div>
    <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Plantiff</p>
    </div>
    <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Defendant</p>
    </div>
    <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Active</p>
    </div>

</div>

<div *ngFor="let sci of scis" class="row noselect">
    <div class="sciContent">
        <!-- </div>*ngIf="containsAction(sci) && containsMatterType(sci)"> -->
        <div class="col-lg-3 col-md-3 admin-sci noselect">
            <div class="admin-sci-content seq-number noselect">
                <p class="header-text sequence-number">{{sci.seqNumber}}</p>
            </div>
            <div class="admin-sci-content noselect">
                <p class="header-text">{{sci.name}}</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 admin-sci admin-sci-content noselect">
            <!-- Create template to display the dropdown if uom is editable or just one p if not -->
            <!-- create template for dropdown -->
            <div>

            </div>
            <!-- <ng-template> -->
            <select name="phase" id="admin-uom">
                <option *ngFor="let phase of sci.matterPhases" (change)="changeSCIPhase(sci.name, phase.name)" value="selected-uom">
                  {{phase}}</option>
              </select>
            <!-- </ng-template> -->

        </div>
        <div class="col-lg-2 col-md-2 admin-sci admin-sci-content noselect">
            <p class="header-text">{{sci.rate.name}}</p>
            <!-- <select name="uom" id="admin-uom">
        <option *ngFor="let rate of rates" (change)="changeSCIRate(sci.name, rate.name)" value="selected-uom">
          {{rate.name}}</option>
      </select> -->
        </div>

        <div class="col-lg-1 col-md-1 admin-sci admin-sci-content noselect">
            <input class="admin-sci-role-input" (click)="getSelectedItem(sci.name)" (change)="addPhasetolist('Discovery')" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 admin-sci admin-sci-content noselect">
            <input class="admin-sci-role-input" (click)="getSelectedItem(sci.name)" (change)="addPhasetolist('Matter defend')" type="checkbox" />
        </div>
        <div class="col-lg-1 col-md-1 admin-sci admin-sci-content noselect">
            <input class="admin-sci-role-input" (click)="getSelectedItem(sci.name)" (change)="addPhasetolist('Trial preparation and trial')" type="checkbox" />
        </div>
    </div>
</div>