/* admin-sci header */

.admin-sci-header {
  margin: 0px;
  /* position: absolute; */
  z-index: 1000;
  width: 100%;
  /* display: grid; */
}

.header-text {
font-size: 13px;
/* font-size: 22px; */
font-family: 'Open Sans', sans-serif;
text-align: left;
margin-bottom: 0px;
padding-left: 2px;
padding-right: 2px;
}

.header-with-content{
  background-color: #49cfd5;
  border: 1px solid #d2d0d087;
  color: #ffffff;
  /* height: 41px; */
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  padding-left: 0px;
  padding-right: 0px;
  height: 23px;
}

.header-name{
  width: -webkit-fill-available;
}

.header-no {
  width: 11%;
  float: left;
  border-left: 0px;
  /* padding-top: 7px; */
  text-align: center;
}
.admin-sci-role-input {
  font-size: 12px;
  width: -webkit-fill-available;
  margin-left: 3px;
  margin-right: 3px;
  border: 0.5px;
  margin: 0 auto !important;
}

.admin-sci {
  height: 24px;
  padding: 0px;
}

.admin-sci-roles {
  width: 100%;
  display: grid;
}

.admin-sci-content {
  border: 1px solid #d2d0d087;
  color: #000000;
  background-color: #ffffff;
  display: grid;
}




