<div class="row admin-sci-header noselect">
    <div class="col-lg-3 col-md-3  header-with-content noselect">
        <div class="header-with-content header-no noselect">
            <p class="header-text">No.</p>
        </div>
        <div class=" header-with-content header-name noselect">
            <p class="header-text">Standard cost Item</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Trial Phases</p>
        <!-- Will be a dropdown -->
    </div>
    <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Default Rate</p>
        <!-- Will be a dropdown -->
    </div>
    <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Category</p>
    </div>
    <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Active</p>
    </div>
</div>