<div class="sci-page-main-wrapper">
  <div class="container-fluid sci-page-wrapper">
    <div class="wrapper">
      <div class="sci-page">
        <div class="sci-page-header-wrapper">
          <div class="row sci-header noselect">
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Task</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Quantity</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Unit of Measurement</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Rate</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Fees</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
                <p class="header-text">Disbursements</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
