
.sci-header {
  margin: 0px;
  /* position: absolute; */
  z-index: 1000;
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
}

.header-text {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-bottom: 0px;
  padding: 2px;
}


.header-with-content{
  background-color:  #49cfd5;
  /* #30888d; */
  border: 1px solid #d2d0d087;
  color: #ffffff;
}
