@import '../admin-rates-header/admin-rates-header.component.css';
.admin-rates-content {
    border: 1px solid #d2d0d087;
    color: #000000;
    background-color: #ffffff;
    display: grid;
}

.admin-rates {
    height: 24px;
    padding: 0px;
}

.admin-rates-roles {
    width: 100%;
    display: grid;
}

.admin-rates-role-input {
    font-size: 12px;
    width: -webkit-fill-available;
    margin-left: 3px;
    margin-right: 3px;
    border: 0.5px;
    margin: 0 auto !important;
}


/* insert-rate-btn button */

.insert-rate-btn {
    font-size: 11px;
    margin: 0px auto;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    background-color: #49cfd5;
    color: #ffffff;
    width: 90px;
    height: 23px;
    margin-top: 10px;
}

.insert-rate-btn:hover {
    background-color: #30888d;
}

.insert-new-rate-row {
    margin-top: 15px;
}

.error-msg {
    text-align: center;
}