<div *ngFor="let rate of rates" class="row noselect">
    <!-- <div class="col-lg-1 col-md-1 admin-rates admin-rates-content noselect">
       <input class="admin-rates-role-input" type="checkbox" />
      <p class="header-text">{{sci.seqNumber}}</p>
    </div> -->
    <div class="col-lg-3 col-md-3 admin-rates admin-rates-content noselect">
        <p class="header-text">{{rate.name}}</p>
    </div>
    <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
        <!-- <p>Pages</p> -->
        <!-- <p *ngIf="rate.name == pleading; else rateDropdown">Pages</p> -->
        <!-- <ng-template #rateDropdown> -->
        <select name="uom" id="admin-uom">
        <option *ngFor="let uom of uoms" value="selected-uom">{{uom.name}}</option>
      </select>
        <!-- </ng-template> -->
        <!-- <input class="admin-rates-role-input" type="checkbox" /> -->
    </div>
    <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
        <input class="admin-rates-role-input" type="number" />
    </div>
    <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
        <input class="admin-rates-role-input" type="date" />
    </div>
    <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
        <input class="admin-rates-role-input" type="date" />
    </div>

    <div class="col-lg-1 col-md-1 admin-rates admin-rates-content noselect">
        <input class="admin-rates-role-input" (change)="makeRateActive(rate.name)" type="checkbox" />
    </div>
</div>


<div class="row insert-new-rate-row">
    <h4>Insert New Rate</h4>
    <div class="row admin-sci-header noselect">
        <div class="col-lg-3 col-md-3  header-with-content noselect">
            <p class="header-text">Rate</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Unit of Measurement</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Rate Value</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">Start Date</p>
        </div>
        <div class="col-lg-2 col-md-2 header-with-content noselect">
            <p class="header-text">End Date</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Active</p>
        </div>

    </div>

    <div class="row noselect">
        <!-- <div class="col-lg-1 col-md-1 admin-rates admin-rates-content noselect">
         <input class="admin-rates-role-input" type="checkbox" />
        <p class="header-text">{{sci.seqNumber}}</p>
      </div> -->
        <div class="col-lg-3 col-md-3 admin-rates admin-rates-content noselect">
            <input class="admin-rates-role-input" [(ngModel)]="rateName" type="text" />
            <!-- <p class="header-text">{{rate.name}}</p> -->
        </div>
        <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
            <!-- <p>Pages</p> -->
            <!-- <p *ngIf="rate.name == pleading; else rateDropdown">Pages</p> -->
            <!-- <ng-template #rateDropdown> -->
            <select name="uom" [(ngModel)]="rateUom" id="admin-uom">
          <option *ngFor="let uom of uoms" value="selected-uom">{{uom.name}}</option>
        </select>
            <!-- </ng-template> -->
            <!-- <input class="admin-rates-role-input" type="checkbox" /> -->
        </div>
        <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
            <input class="admin-rates-role-input" [(ngModel)]="rateValue" type="number" />
        </div>
        <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
            <input class="admin-rates-role-input" type="date" [(ngModel)]="rateStartDate" />
        </div>
        <div class="col-lg-2 col-md-2 admin-rates admin-rates-content noselect">
            <input class="admin-rates-role-input" type="date" [(ngModel)]="rateEndDate" />
        </div>

        <div class="col-lg-1 col-md-1 admin-rates admin-rates-content noselect">
            <input class="admin-rates-role-input" (change)="makeRateActive(rate.name)" type="checkbox" checked="rateActive" />
        </div>
    </div>

    <div class="row error-msg noselect">
        <p>{{errMsg}}</p>
    </div>

    <div class="row noselect">
        <div class="col-lg-12 col-md-12 noselect">
            <button class="btn btn-block insert-rate-btn" [disabled]="clicked" (click)="insertRate()" type="submit">ADD
      Rate</button>
        </div>
    </div>
</div>