<div>
  <app-header></app-header>
</div>
<div class="container-fluid home-page-wrapper">
  <div class="wrapper">
    <div class="home-page">
      <div class="row">
        <h1 class="home-page-heading">MATTER TYPE</h1>
      </div>

      <div class="row home-buttons">
        <div class="col-lg-4 col-md-4 option-cols">
          <h1 class="quote-type-heading">ACTIONS</h1>
          <div class="option-button" (click)="setQuoteType('action', 'raf')">
            <p class="option">Road Accident Fund</p>
          </div>
          <div class="option-button" (click)="setQuoteType('action', 'summons')">
            <p class="option">Summons</p>
          </div>
          <div class="option-button" (click)="setQuoteType('action', 'divorce')">
            <p class="option">Divorce</p>
          </div>
          <div class="option-button" (click)="setQuoteType('action', 'other')">
            <p class="option">Other</p>
          </div>

        </div>

        <div class="col-lg-4 col-md-4 option-cols">
            <h1 class="quote-type-heading">APPLICATIONS</h1>
          <div class="option-button" (click)="setQuoteType('application', 'exparte')">
            <p class="option">Ex Parte</p>
          </div>
          <div class="option-button" (click)="setQuoteType('application', 'motion')">
            <p class="option">Motion</p>
          </div>
          <div class="option-button" (click)="setQuoteType('application', 'interlocutory')">
            <p class="option">Interlocutory</p>
          </div>
          <div class="option-button" (click)="setQuoteType('application', 'other')">
            <p class="option">Other</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 option-cols">
          <h1 class="quote-type-heading">NON-LITIGATIONS</h1>
          <div class="option-button other" (click)="setQuoteType('nonlitigation', 'other')">
            <p class="option other-data">Other</p>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
