.home-page {
    margin-top: 0px;
}

.home-page-wrapper {
    background-image: url("../../../assets/moli1.jpg");
    /* height:100%;
   */
    height: 867px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page-heading {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 0.7%;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff;
}

.home-buttons {
    padding: 30px;
    height: 100%;
    padding-top: 30px;
}

.option-button {
    /*margin: 0 auto; */
    margin: 10px;
    margin-top: 25px;
    float: left;
    overflow: hidden;
    text-transform: uppercase;
    width: 45%;
    /* height: 35%; */
    height: 25%;
    border-radius: 15px;
    border-top: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.option-button:hover {
    cursor: pointer;
    color: #49cfd5;
    border-radius: 20px;
    border-top: 8px solid #49cfd5;
}

.option {
    color: #ffffff;
    margin: 0 auto;
    font-size: 2rem;
    /* padding-top: 24%; */
    padding-top: 17%;
}

.option:hover {
    color: #49cfd5;
}

.other {
    width: 100%;
}

.other-data {
    padding-top: 10%;
}

.quote-type-heading {
    color: #ffffff;
    text-align: center;
    font-size: 31px;
}

.option-cols {
    height: 500px;
    /* width: auto; */
}

.form-signin {
    margin: 0 auto;
}