
  <div class="container-fluid sessionmanager-page-wrapper">
    <div class="wrapper">
    <div class="sessionmanager-page">
      <div class="sessionmanager-form">

          <p class="warning-message noselect"> Warning</p>

          <div class="row top-buffer">
            <p class="message">Your session is about to expire.  Would you like to stay logged in?</p>
          </div>

          <div class="row session-manager-buttons">
            <!-- <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div> -->
            <div class="col-xs-12 col-md-12 col-lg-12 no-padding">
              <button class="btn btn-block sessionmanager-btn" (click)="continueSession()" [disabled]="clicked" type="submit">YES</button>
              <button class="btn btn-block sessionmanager-btn" (click)="endSession()" [disabled]="clicked" type="submit">NO</button>
            </div>
            <!-- <div class="col-xs-5 col-md-5 col-lg-5 no-padding">
              <button class="btn btn-block sessionmanager-btn" (click)="endSession()" [disabled]="clicked" type="submit">NO</button>
            </div>
            <div class="hidden-xs col-sm-1 col-md-1 col-lg-1"></div> -->
          </div>

      </div>

    </div>
  </div>

  </div>
