.sessionmanager-page{
  margin-top:0px;
}

.sessionmanager-form  {
  margin: 0 auto;
  margin-top: 5%;
  /* margin-bottom: 9%; */
  overflow: hidden;
  text-transform: uppercase;
  width: 500px;
  padding: 50px;
  border-radius: 15px;
  border-top: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}
.form-signin{
  margin: 0 auto;
}

.warning-message{
  color: #ffffff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: -20px;
}
.message{
  color: #ffffff;
  /* text-align: center; */
  font-size: 1.5rem;
}

.forgot-password{
  color: rgb(139, 139, 139);
  text-align: center;
  font-size: 1.7rem;
  margin-top: 30px;
}

.forgot-password:hover{
  color: #ffffff;
  text-align: center;
  font-size: 1.7rem;
  cursor: pointer;
}

/* sessionmanager button */
.sessionmanager-btn {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color:#ffffff;
  width: 100px;
  float: left;
  margin-left: 35px;
}

.sessionmanager-btn:hover {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #30888d;
  float: left;
  margin-left: 35px;
}

.form-group-details {
  margin-bottom: 25px;
  margin-left: 15%;
}

.top-buffer{
  margin-bottom: 20px;
}

.session-manager-buttons{
  padding-left: 35px;
  padding-right: 35px;
}

@media screen and (max-width: 505px) {

  .sessionmanager-page{
    margin-top: 55px;
  }

  .sessionmanager-form  {
    margin-top: 5%;
    width: 400px;
    padding: 40px;
  }

  .sessionmanager-btn {
    font-size: 16px;
    width: 90px;
  }

  .message {
    font-size: 1.4rem;
    text-align: center;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
  }

  .sessionmanager-btn {
    margin-left: 20px;
  }

  .warning-message {
    font-size: 2rem;
    margin-top: -18px;
  }

}

@media screen and (max-width: 375px) {

  .sessionmanager-page {
    margin-top: 55px;
  }

  .sessionmanager-form  {
    margin-top: 5%;
    width: 350px;
    padding: 20px;
  }

  .sessionmanager-btn {
    font-size: 14px;
    width: 80px;
  }

  .message{
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .sessionmanager-btn {
    margin-left: 20px;
  }

  .warning-message {
    font-size: 2rem;
    margin-top: -7px;
  }
}

@media screen and (max-width: 325px) {

  .sessionmanager-page {
    margin-top: 60px;
  }

  .sessionmanager-form  {
    margin-top: 5%;
    width: 300px;
    padding: 20px;
  }

  .sessionmanager-btn {
    font-size: 13px;
    width: 65px;
  }

  .session-manager-buttons{
    padding-left: 20px;
    padding-right: 26px;
  }

  .message {
    font-size: 1rem;
  }

  .warning-message {
    font-size: 2rem;
    margin-top: -7px;
  }

  .sessionmanager-btn {
    margin-left: 20px;
  }
}

