<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="sessionExpired" class="modal">
    <app-sessionmanager></app-sessionmanager>
</div>

<div *ngIf="displayLoader" class="modal">
    <app-customloader></app-customloader>
</div>

<div *ngIf="displayQuote" class="modal">
    <app-firm-template-doc></app-firm-template-doc>
</div>

<div class="main-outlet">
    <router-outlet></router-outlet>
</div>