.modal {
  position: absolute;
  z-index: 1001;
  display: block;
  background-color: rgba(0,0,0, 0.9);
}

.session-modal {
  position: absolute;
  z-index: 1005;
  display: block;
  background-color: rgba(0,0,0, 0.9);
}
.main-outlet{
  height: 100%;
}


