<div class="row history-header noselect">
  <div class="col-lg-2 col-md-2 history noselect"></div>

  <div class="col-lg-2 col-md-2 history history-content noselect">
    <p class="history-content-text">{{historyObject.quoteReference}}</p>
  </div>
  <div class="col-lg-2 col-md-2 history history-content noselect">
      <p class="history-content-text">2019-06-03</p>
    <!-- <p class="history-content-text">{{historyObject.date}}</p> -->
  </div>
  <div class="col-lg-2 col-md-2 history history-content noselect">
    <p class="history-content-text">{{historyObject.client.clientName}}</p>
  </div>
  <div class="col-lg-2 col-md-2 history history-content noselect">
    <button class="btn btn-block preview-btn" (click)="previewQuoteHistory(historyObject.quoteReference)">Preview</button>
    <!-- <p class="header-text">More Details</p> -->
  </div>
  <div class="col-lg-2 col-md-2 history noselect"></div>
</div>
