
.history-content {
  border: 1px solid #d2d0d087;
  color: #000000;
  background-color: #ffffff;
  /* padding-top: 36px; */
}

.preview-btn {
  /* font-size: 16px; */
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color: #ffffff;
  width: 100px;
  height: 32px;
  padding: 0px;
  margin-top: 3px;
}

.preview-btn:hover {
  background-color: #30888d;
}

.history-content-text {
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 0px;
  padding: 2px;
}

.history {
  height: 40px;
}
