<!-- Maybe make this a stanadlone component that will be appended on plus click -->
<div class="row noselect">
  <div class="col-lg-1 col-md-1 sci sci-content empty-cols noselect"></div>
  <div class="col-lg-2 col-md-2 header-with-content noselect">
    <p class="header-text">Employ Counsel</p>
  </div>
  <div class="col-lg-9 col-md-9 header-with-content noselect">
      <input type="checkbox" (change)="updateCounsel()"/>
  </div>
    <!-- <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span> -->
  </div>
<div *ngIf="employCounsel" name="sci-roles-row" id="sci-roles-row" class="row noselect">
  <div class="col-lg-1 col-md-1 empty-cols noselect"></div>

  <div class="col-lg-3 col-md-3 sci sci-content noselect">
    <p class="sci-content-text">Description</p>
  </div>
  <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <p class="sci-content-text">Quantity</p>
  </div>
  <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <p class="sci-content-text">Unit of Measurement</p>
  </div>
  <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <p class="sci-content-text">Rate</p>
  </div>
  <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <p class="sci-content-text">Disbursment</p>
  </div>

</div>
<div *ngIf="employCounsel" >
<div  *ngFor="let counselSci of counselSci" name="sci-roles-row" id="sci-roles-row" class="row  noselect">
    <div class="col-lg-1 col-md-1 empty-cols noselect"></div>

    <div class="col-lg-3 col-md-3 sci sci-content noselect">
      <input class="sci-role-input" type="text" autofocus required placeholder="{{counselSci.description}}" />
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <input class="sci-role-input" type="number" autofocus required placeholder="{{counselSci.quantity}}" />
      <!-- <p class="sci-content-text">{{sci.task}}</p> -->
    </div>

    <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <input class="sci-role-input" type="text" required placeholder="{{counselSci.uom}}" />
      <!-- <p class="sci-content-text">{{sci.quantity}}</p> -->
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <input class="sci-role-input" type="number" required placeholder="{{counselSci.rate}}" />
      <!-- <p class="sci-content-text">{{sci.units}}</p> -->
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
      <input class="sci-role-input" type="number" required placeholder="{{counselSci.disbursement}}" />
    </div>
  </div>
</div>
