.sci-page{
  margin-top:0px;
}

.sci-page-wrapper{
  background-color: #ffffff;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.input-label {
  color: #000000;
  font-size:1rem;
  margin: 20px 0px 5px 0px;
}

.sci-page-heading {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 0.7%;
  font-weight: bolder;
  text-transform: uppercase;
}

/* sci button */
.sci-btn {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color:#ffffff;
  width: 100px;
}

.sci-btn:hover {
  font-size: 18px;
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #30888d;
}

.sci-header {
    margin: 0px;
    /* position: absolute; */
    z-index: 1000;
    width: 100%;
}

.header-text {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-bottom: 0px;
  padding: 2px;
}


.header-with-content{
  background-color: #30888d;
  border: 1px solid #d2d0d087;
  color: #ffffff;
}

.sci-content {
  background-color: #ffffff;
}

.sci-content {
  height: 50%;
}

.sci-page-header-wrapper {
  overflow: scroll !important;
  /* height: -webkit-fill-available; */
}

.sci-page-main-wrapper{
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.container {
  -ms-overflow-style: none;  /* IE 10+*/
  scrollbar-width: none;  /* Firefox*/
}
.container::-webkit-scrollbar {
  display: none;  /*Safari and Chrome*/
}
