
.sci-content {
  border: 1px solid #d2d0d087;
  color: #000000;
  background-color: #ffffff;
  padding: 0px;
}

.preview-btn {
      /* font-size: 16px; */
      margin: 0px auto;
      font-family: 'Open Sans', sans-serif;
      background-color: #49cfd5;
      color: #ffffff;
      width: 100px;
      height: 32px;
      padding: 0px;
      margin-top: 3px;
}

.preview-btn:hover {
  background-color: #30888d;
}

.sci-content-text {
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 0px;
  padding: 2px;
}

.sci {
  height: 34px;
  /* height: 40px; */
}

/* Header for roles */
.sci-page-wrapper{
  background-color: #ffffff;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.input-label {
  color: #000000;
  font-size:1rem;
  margin: 20px 0px 5px 0px;
}

.sci-page-heading {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-left: 0.7%;
  font-weight: bolder;
  text-transform: uppercase;
}

/* sci button */

.sci-header {
    margin: 0px;
    /* position: absolute; */
    z-index: 1000;
    width: 100%;
}

.header-text {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  margin-bottom: 0px;
  padding: 2px;
}


.header-with-content{
  background-color: #30888d;
  border: 1px solid #d2d0d087;
  color: #ffffff;
  width: auto;
}

.sci-page-header-wrapper {
  overflow: scroll !important;
  /* height: -webkit-fill-available; */
}

.sci-page-main-wrapper{
  height: 100%;
}

.add-columns {
  right: 2.2%;
    top: 25.5%;
    /* position: relative; */
    text-align: right;
    position: absolute;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 17px;
    cursor: pointer;
}

.sci-input {
  font-size: 1.7rem;
  text-align: left;
  width: -webkit-fill-available;
  margin-left: 3px;
  margin-right: 3px;
  border: 0.5px;
  height: -webkit-fill-available;
  text-overflow: ellipsis;
  word-break: break-word;
}
