<div class="row sci-header noselect">
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <!-- <input type="text" placeholder="{{sci.description}}"/> -->
        <input class="sci-input" type="text" required placeholder="{{sci.description}}" />
        <!-- <p class="sci-content-text">{{sci.description}}</p> -->
    </div>

    <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <p *ngIf="sci.quantity; else quantity" class="sci-content-text">{{sci.quantity}}</p>
        <!-- Will map to lower level quantities if uom is hrs -->
        <ng-template #quantity>
            <p class="sci-content-text">0</p>
        </ng-template>
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <p class="sci-content-text">{{sci.units}}</p>
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <p class="sci-content-text">{{sci.rate}}</p>
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <!-- <input type="number" autofocus required placeholder="{{sci.fees}}"/> -->
        <p class="sci-content-text">{{fees}}</p>
        <!-- Will map to lower level quantities if uom is hrs -->
        <!-- <p class="header-text">More Details</p> -->
    </div>
    <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <!-- <input type="number" autofocus required placeholder="{{sci.disbursemnet}}"/> -->
        <p *ngIf="!sci.canHaveDisbursement; else disbursment" class="sci-content-text">N/A</p>
        <!-- map to @output var-->
        <ng-template #disbursment>
            <input class="sci-input" type="number" autofocus placeholder="{{sci.disbursemnet}}" />
        </ng-template>
    </div>

    <div *ngIf="sci.unitOfMeasurement.name == 'Hourly'" class="row">
        <app-sci-roles>
            <!-- <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span> -->
        </app-sci-roles>

    </div>

    <div *ngIf="sci.canEmployCounsel" class="row">
        <app-employ-counsel (fees)="addFees($event)"></app-employ-counsel>
    </div>

</div>
<!-- <div *ngIf="sci.unitOfMeasurement.name == 'Hourly'" class="row">
    <app-sci-roles>
        <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span>
    </app-sci-roles>

</div> -->