<!-- Maybe make this a stanadlone component that will be appended on plus click -->
    <div class="row noselect">

      <!-- <div class="col-lg-1 col-md-1 sci sci-content noselect"></div>
            <div class="col-lg-1 col-md-1 sci sci-content noselect"></div> -->
      <div class="col-lg-1 col-md-1 sci sci-content empty-cols noselect"></div>
      <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Role</p>
      </div>
      <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Quantity</p>
      </div>
      <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Unit of Measurement</p>
      </div>
      <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Rate</p>
      </div>
      <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Fees</p>
      </div>
      <div class="col-lg-2 col-md-2 header-with-content noselect">
        <p class="header-text">Km Travelled</p>
      </div>
      <div class="col-lg-1 col-md-1 header-with-content noselect">
        <p class="header-text">Km Rate</p>
      </div>
      <!-- <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span> -->
    </div>

