<!-- Maybe make this a stanadlone component that will be appended on plus click -->
<div class="row sci-header noselect">

  <div class="sci-page-header-wrapper">
    <!-- header employ counsel -->
    <app-employ-counsel-header [counselSci]=counselSci></app-employ-counsel-header>

    <!-- employ counsel row -->
    <!-- <app-employ-counsel-content *ngFor="let counselSci of counselSci" [counselSci]=counselSci ></app-employ-counsel-content> -->
  </div>
</div>
