<div class="row admin-firm-details noselect">
    <h4>Firm Document Template</h4>
    <div class="col-lg-12 col-md-12 firm-details-row">
        <h6 class="input-label input-labels-text noselect">Firm letterhead</h6>
        <input autocomplete name="username" type="file" class="input-box firm-template" autofocus minlength="2" maxlength="20" (change)="submitHeaderTemplate($event)">
    </div>
    <div class="col-lg-12 col-md-12 firm-details-row">
        <h6 class="input-label input-labels-text noselect">Firm footer image</h6>
        <input autocomplete name="username" type="file" class="input-box firm-template" autofocus minlength="2" maxlength="20" (change)="submitFooterTemplate($event)">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>{{updateMsg}}</p>
    </div>
</div>

<div class="row firm-template-button noselect">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-block update-firm-btn" [disabled]="clicked" (click)="updatefirmDetails()" type="submit">SAVE</button>
        <button class="btn btn-block update-firm-btn" [disabled]="previewClicked" (click)="previewFirmTemplate()" type="submit">PREVIEW</button>
    </div>
</div>
<!-- <div class="row firm-template-button noselect">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <button class="btn btn-block update-firm-btn" [disabled]="  previewClicked" (click)="previewFirmTemplate()"
      type="submit">PREVIEW</button>
  </div>
</div> -->