.input-label {
  color: #000000;
  font-size:1rem;
  margin: 20px 0px 5px 0px;
  text-transform: uppercase;
}

.input-box{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* height: auto; */
  box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
  width: 65%;
  border-radius: 5px;
}

.template-margin{
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* height: auto; */
  box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
  width: 40%;
  border-radius: 5px;
}

.firm-template{
  /* float: left; */
  margin-right: 32px;

}

.btn-block{
  width: 20%;
  height: 37px;
  border: 1px solid #c2bebe;
}

.admin-firm-details {

}

.firm-details-row{
  margin:10px;
}
/* login button */
.update-firm-btn {
  font-size: 18px;
  /* margin: 0px auto; */
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color:#ffffff;
  width: 120px;
  margin-left: 15px;
  float: left;
  padding-top: 0px;
  padding-bottom: 0px;
}

.update-firm-btn:hover {
  font-size: 18px;
  /* margin: 0px auto; */
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  background-color: #30888d;
  margin-left: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.btn-block+.btn-block {
  margin-top: 0px;
}

.firm-template-button {
  margin-top: 15px;
}

@media screen and (max-width: 769px) {


  .firm-details-row{
    margin-left:0px;
    padding-left: 0px;
  }

  .update-firm-btn{
    font-size: 14px;
    width: 95px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 30px;
  }

  .update-firm-btn:hover{
    font-size: 14px;
    width: 95px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

}
