.history-page {
    margin-top: 0px;
}

.history-page-wrapper {
    /* background-image: url("../../../assets/moli1.jpg"); */
    /* height:100%;
   */
    /* height: 867px; */
    background-color: #ffffff;
    /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.input-label {
    color: #000000;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
}

.history-page-heading {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 0.7%;
    font-weight: bolder;
    text-transform: uppercase;
}


/* history button */

.history-btn {
    font-size: 18px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #49cfd5;
    color: #ffffff;
    width: 100px;
}

.history-btn:hover {
    font-size: 18px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #30888d;
}

.history-header {
    margin: 0px;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

.header-text {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    /* color: #000000; */
    text-align: left;
    margin-bottom: 0px;
    padding: 2px;
}

.header-with-content {
    background-color: #30888d;
    border: 1px solid #d2d0d087;
    color: #ffffff;
}

.mobile-header-with-content {
    background-color: #30888d;
    border: 1px solid #d2d0d087;
    color: #ffffff;
    /* width: 100%; */
}

.mobile-header {
    float: left;
    width: 30%;
}

.mobile-content {
    width: 70%;
    float: inherit;
}

.history-mobile-data {
    width: 100%;
    float: left;
}

.history-page-header-wrapper {
    overflow: scroll !important;
    height: -webkit-fill-available;
    padding-bottom: 250px;
    margin-top: 20px;
}

.history-page-main-wrapper {
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.container {
    -ms-overflow-style: none;
    /* IE 10+*/
    scrollbar-width: none;
    /* Firefox*/
}

.container::-webkit-scrollbar {
    display: none;
    /*Safari and Chrome*/
}

.history-content {
    border: 1px solid #d2d0d087;
    color: #000000;
    background-color: #ffffff;
    padding-top: 36px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.preview-btn {
    /* font-size: 16px; */
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #49cfd5;
    color: #ffffff;
    width: 100px;
    height: 32px;
    padding: 0px;
    margin-top: 3px;
}

.preview-btn:hover {
    background-color: #30888d;
}

.history-content-text {
    font-size: 1.7rem;
    text-align: left;
    margin-bottom: 0px;
    padding: 2px;
}

.history-mobile-data {
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.mobile-header-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    /* color: #000000; */
    text-align: left;
    margin-bottom: 0px;
    padding: 2px;
}

@media screen and (max-width: 1000px) {
    .history-page-heading {
        font-size: 26px;
    }
    .preview-btn {
        /* font-size: 16px; */
        margin: 0px auto;
        width: 100px;
        height: 29px;
        padding: 0px;
        margin-top: 0px;
    }
    .preview-btn:hover {
        background-color: #30888d;
    }
    .mobile-header-text {
        font-size: 1.7rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .history-content-text {
        font-size: 1.7rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .history-content {
        padding-top: 0px;
    }
    .mobile-header {
        float: left;
        width: 30%;
    }
    .mobile-content {
        width: 70%;
        float: inherit;
    }
}

@media screen and (max-width: 768px) {
    .history-page-heading {
        font-size: 26px;
    }
    .preview-btn {
        /* font-size: 16px; */
        margin: 0px auto;
        width: 100px;
        height: 29px;
        padding: 0px;
        margin-top: 0px;
    }
    .preview-btn:hover {
        background-color: #30888d;
    }
    .mobile-header-text {
        font-size: 1.7rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .history-content-text {
        font-size: 1.7rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .mobile-header {
        float: left;
        width: 30%;
    }
    .mobile-content {
        width: 70%;
        float: inherit;
    }
    .history-content {
        padding-top: 0px;
    }
}

@media screen and (max-width: 650px) {
    .history-page-heading {
        font-size: 26px;
    }
    .preview-btn {
        /* font-size: 16px; */
        margin: 0px auto;
        width: 80px;
        height: 29px;
        padding: 0px;
        margin-top: 0px;
    }
    .mobile-header-text {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .history-content-text {
        font-size: 1.5rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .mobile-header {
        float: left;
        width: 30%;
    }
    .mobile-content {
        width: 70%;
        float: inherit;
    }
    .history-content {
        padding-top: 0px;
    }
}

@media screen and (max-width: 362px) {
    .history-page-heading {
        font-size: 26px;
    }
    .preview-btn {
        /* font-size: 16px; */
        margin: 0px auto;
        width: 80px;
        height: 25px;
        padding: 0px;
        margin-top: 1px;
    }
    .mobile-header-text {
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .history-content-text {
        font-size: 1.4rem;
        text-align: left;
        margin-bottom: 0px;
        padding: 2px;
    }
    .mobile-header {
        float: left;
        width: 35%;
    }
    .mobile-content {
        width: 65%;
        float: inherit;
    }
    .history-content {
        padding-top: 0px;
    }
}