<div class="history-page-main-wrapper">
  <div>
    <app-header></app-header>
  </div>
  <div class="container-fluid history-page-wrapper" (window:resize)="onResize($event)">
    <div class="wrapper">
      <div class="history-page">
        <div class="row">
          <h1 class="history-page-heading">ARCHIVES/HISTORY</h1>
        </div>

        <div *ngIf="!mobile; else mobilehistorycontent" class="history-page-header-wrapper">
          <div class="row history-header noselect">
            <div class="col-lg-2 col-md-2 noselect"></div>

            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Reference Number</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Date</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">Client</p>
            </div>
            <div class="col-lg-2 col-md-2 header-with-content noselect">
              <p class="header-text">More Details</p>
            </div>
            <div class="col-lg-2 col-md-2 noselect"></div>
          </div>

          <div class="row history-content">
            <app-historycontent *ngFor="let quoteHistory of quoteHistories" [historyObject]=quoteHistory>
            </app-historycontent>
          </div>
        </div>

        <ng-template #mobilehistorycontent>
          <div class="history-mobile-data" *ngFor="let quoteHistory of quoteHistories">
            <div class="mobile-header">
              <div class="mobile-header-with-content noselect">
                <p class="mobile-header-text">Reference No.</p>
              </div>
              <div class="mobile-header-with-content noselect">
                <p class="mobile-header-text">Date</p>
              </div>
              <div class="mobile-header-with-content noselect">
                <p class="mobile-header-text">Client</p>
              </div>
              <div class="mobile-header-with-content noselect">
                <p class="mobile-header-text">More Details</p>
              </div>
            </div>
            <div class="mobile-content">
              <div class="history history-content noselect">
                <p class="history-content-text">{{quoteHistory.quoteReference}}</p>
              </div>
              <div class="history history-content noselect">
                <p class="history-content-text">2019-03-06</p>
                <!-- <p class="history-content-text">{{historyItem.date}}</p> -->
              </div>
              <div class="history history-content noselect">
                <p class="history-content-text">{{quoteHistory.client.clientName}}</p>
              </div>
              <div class="history history-content noselect">
                <button class="btn btn-block preview-btn" (click)="previewQuoteHistory(quoteHistory.quoteReference)">Preview</button>
                <!-- <p class="header-text">More Details</p> -->
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

  </div>

</div>
