<div class="row sci-header noselect">
  <div class="col-lg-1 col-md-1"></div>

  <div class="col-lg-2 col-md-2 sci sci-content noselect">
    <p class="sci-content-text">{{sci.description}}</p>
  </div>

  <div class="col-lg-2 col-md-2 sci sci-content noselect">
    <p class="sci-content-text">{{sci.quantity}}</p>
  </div>
  <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <p class="sci-content-text">{{sci.unitOfMeasurement.name}}</p>
  </div>
  <div class="col-lg-1 col-md-1 sci sci-content noselect">
    <p class="sci-content-text">{{sci.rate}}</p>
  </div>
  <div class="col-lg-1 col-md-1 sci sci-content noselect">
    <p class="sci-content-text">{{sci.fees}}</p>
  </div>
  <div class="col-lg-2 col-md-2 sci sci-content noselect">
    <p class="sci-content-text">{{sci.disbursemnet}}</p>
  </div>
  <div class="col-lg-1 col-md-1"></div>
</div>
