.sci-content {
  border: 1px solid #d2d0d087;
  color: #000000;
  background-color: #ffffff;
  padding: 0px;
}

.sci-content-text {
  font-size: 1.7rem;
  text-align: left;
  margin-bottom: 0px;
  padding: 2px;
}

.sci {
  height: 34px;
  /* height: 40px; */
}
