
  <ng-template #sciRolesRow>
    <div name="sci-roles-row" id="sci-roles-row" class="row sci-roles noselect">
      <!-- <div class="col-lg-1 col-md-1 sci sci-content noselect"></div>
                  <div class="col-lg-1 col-md-1 sci sci-content noselect"></div> -->
      <div class="col-lg-1 col-md-1 empty-cols noselect"></div>

      <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <select class="sci-role-input">
          <option *ngFor="let role of roles">{{role.name}}</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <input class="sci-role-input" type="number" autofocus required placeholder="{{sci.quantity}}" />
        <!-- <p class="sci-content-text">{{sci.task}}</p> -->
      </div>

      <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <input class="sci-role-input" type="number" required placeholder="{{sci.uom}}" />
        <!-- <p class="sci-content-text">{{sci.quantity}}</p> -->
      </div>
      <div class="col-lg-1 col-md-1 sci sci-content noselect">
        <input class="sci-role-input" type="number" required placeholder="{{sci.rate}}" />
        <!-- <p class="sci-content-text">{{sci.units}}</p> -->
      </div>
      <div class="col-lg-1 col-md-1 sci sci-content noselect">
        <input class="sci-role-input" type="number" required placeholder="{{sci.fees}}" />
        <!-- Might need to create placeholder vars to hold data for calculations -->
        <!-- <p class="sci-content-text">{{sci.rate}}</p> -->
      </div>
      <div class="col-lg-2 col-md-2 sci sci-content noselect">
        <input class="sci-role-input" type="number" required placeholder="{{sci.km}}" />
        <!-- <p class="sci-content-text">{{sci.fees}}</p> -->
        <!-- <p class="header-text">More Details</p> -->
      </div>
      <div class="col-lg-1 col-md-1 sci sci-content sci noselect">
        <input class="sci-role-input" type="number" required placeholder="{{sci.kmrate}}" />
        <!-- <p class="sci-content-text">{{sci.disbursemnet}}</p> -->
      </div>

      <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span>
    </div>
    <span class="glyphicon glyphicon-plus add-columns" (click)="addRoleSci()"></span>
  </ng-template>
  <div #rolescontainer>
  </div>
