@import '../admin-sci-content/admin-sci-content.component.css';

/* insert-role-btn button */

.insert-sci-btn {
    font-size: 11px;
    margin: 0px auto;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
    background-color: #49cfd5;
    color: #ffffff;
    width: 75px;
    height: 23px;
    margin-top: 10px;
}

.insert-sci-btn:hover {
    background-color: #30888d;
}

.sci-filter-header {
    margin-bottom: 20px;
}

.select-options {
    width: -webkit-fill-available !important;
    height: 26px !important;
}

.input-label {
    color: #000000 !important;
    font-size: 1rem;
    margin: 20px 0px 5px 0px;
}

.seq-number-input {
    width: 100%;
}

.msg-row {
    text-align: center;
}