<div>
    <h4>Standard Cost Items</h4>
    <app-admin-sci-content [scis]="scis" [trialPhases]="trialPhases" [rates]="rates"></app-admin-sci-content>
</div>
<br /><br />
<div>
    <p>Add new Standard Cost Item</p>
    <app-admin-sci-header></app-admin-sci-header>
    <div class="row noselect">
        <div class="col-lg-3 col-md-3 admin-sci noselect">
            <div class="admin-sci-content admin-sci seq-number noselect">
                <input class="admin-sci-role-input seq-number-input" [(ngModel)]="sciSequence" type="number" />
            </div>
            <div class="admin-sci-content admin-sci noselect">
                <input class="admin-sci-role-input" [(ngModel)]="sciName" type="text" />
            </div>
            <!-- <input class="admin-sci-role-input" type="text" /> -->
        </div>
        <div class="col-lg-2 col-md-2 admin-sci admin-sci-content noselect">
            <select name="uom" [(ngModel)]="sciPhase">
        <option *ngFor="let phase of trialPhases">{{ phase.name }}</option>
      </select>
            <!-- <input class="admin-sci-role-input" type="checkbox" /> -->
        </div>
        <div class="col-lg-2 col-md-2 admin-sci admin-sci-content noselect">
            <select name="rate" [(ngModel)]="sciRateName" id="admin-rate">
        <option *ngFor="let rate of rates" >{{ rate.name }}</option>
      </select>
            <!-- <input class="admin-sci-role-input" type="checkbox" /> -->
        </div>
        <div class="col-lg-2 col-md-2 admin-sci admin-sci-content noselect">
            <select name="sci" [(ngModel)]="sciCategory" id="admin-sci">
        <option *ngFor="let sciCategory of sciCategories" >{{ sciCategory.name }}</option>
      </select>
        </div>
        <div class="col-lg-1 col-md-1 admin-sci admin-sci-content noselect">
            <input class="admin-sci-role-input" (change)="addPhasetolist('Trial
        preparation and trial')" type="checkbox" />
        </div>
    </div>
    <div class="row msg-row noselect">
        <p>{{responseMsg}}</p>
    </div>
    <div class="row noselect">
        <button class="btn btn-block insert-sci-btn" [disabled]="clicked" (click)="insertSci()" type="submit">
      ADD SCI
    </button>
    </div>
</div>

<br />