/* You can add global styles to this file, and also import other style files */
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* * {
  overflow: hidden;
  box-sizing: border-box;
} */
body {

  overflow: hidden !important;
}

/* Hide the scroll bar on all pages, but content should remain scrollabel */
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

input[type=number],
input[type=date]{
  text-align: right !important;
}
