
.header-text {
font-size: 13px;
/* font-size: 22px; */
font-family: 'Open Sans', sans-serif;
text-align: left;
margin-bottom: 0px;
padding: 2px;
}

.header-with-content{
background-color: #49cfd5;
/* background-color: #30888d; */
border: 1px solid #d2d0d087;
color: #ffffff;

}

.admin-firm {
  height: 24px;
  padding: 0px;
}

.firm-clauses {
  height: 24px;
  padding: 0px;
}

.firm-clause-content {
  border: 1px solid #d2d0d087;
  color: #000000;
  background-color: #ffffff;
  display: grid;
  height: 24px;
  padding: 0px;

}

.firm-clause-input {
  /* font-size: 12px; */
  width: -webkit-fill-available;
  margin-left: 3px;
  margin-right: 3px;
  border: 0.5px;
  /* height: 24px; */
  margin: 0 auto !important;
}

/* insert-clause-btn button */
.insert-clause-btn {
  font-size: 11px;
  margin: 0px auto;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  background-color: #49cfd5;
  color: #ffffff;
  width: 90px;
  height: 23px;
  margin-top: 10px;
}

.insert-clause-btn:hover {
  background-color: #30888d;
}

.insert-new-clause-row {
  margin-top: 15px;
}

.cluase-error-msg {
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}
