<div>
    <h4>Firm Legal Clauses</h4>
    <div class="row noselect">
        <div class="col-lg-3 col-md-3 header-with-content noselect">
            <p class="header-text">Clause Name</p>
        </div>
        <div class="col-lg-5 col-md-5 header-with-content noselect">
            <p class="header-text">Clause Description</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Active</p>
        </div>
        <!-- <div class="col-lg-3 col-md-3 admin-firm-content empty-cols noselect"></div> -->
    </div>

    <div *ngFor="let clause of clauses" class="row noselect">
        <div class="col-lg-3 col-md-3 firm-clause-content noselect">
            <p class="header-text">{{clause.name}}</p>
        </div>
        <div class="col-lg-5 col-md-5 firm-clause-content noselect">
            <p class="header-text">{{clause.clause}}</p>
        </div>
        <div class="col-lg-1 col-md-1 firm-clause-content noselect">
            <!-- map to clause state -->
            <input class="firm-clause-input" type="checkbox" [(ngModel)]="clause.clauseState" [checked]="clause.clauseState?'ACTIVE':'INACTIVE'" (change)="updateClauseState()" />
            <!-- <p class="header-text">Active</p> -->
        </div>
        <!-- <div class="col-lg-3 col-md-3 firm-clause-content empty-cols noselect"></div> -->
    </div>
</div>

<!-- Insert new clause -->
<div class="insert-new-clause-row">
    <div class="row">
        <p>New Clause</p>
    </div>
    <div class="row noselect">
        <div class="col-lg-3 col-md-3 header-with-content noselect">
            <p class="header-text">Clause Name</p>
        </div>
        <div class="col-lg-5 col-md-5 header-with-content noselect">
            <p class="header-text">Clause Description</p>
        </div>
        <div class="col-lg-1 col-md-1 header-with-content noselect">
            <p class="header-text">Active</p>
        </div>
        <!-- <div class="col-lg-3 col-md-3 admin-firm-content empty-cols noselect"></div> -->
    </div>

    <div class="row noselect">
        <div class="col-lg-3 col-md-3 firm-clauses firm-clause-content noselect">
            <input class="firm-clause-input" [(ngModel)]="clauseName" type="text" placeholder="New Clause" />
            <!-- <p class="header-text">{{clause.name}}</p> -->
        </div>
        <div class="col-lg-5 col-md-5 firm-clauses firm-clause-content noselect">
            <!-- use form or two way data binding -->
            <input class="firm-clause-input" [(ngModel)]="clauseDescription" type="text" placeholder="New Clause" />
            <!-- <p class="header-text">{{clause.clause}}</p> -->
        </div>
        <div class="col-lg-1 col-md-1 firm-clauses firm-clause-content noselect">
            <!-- map to clause state -->
            <input class="firm-clause-input" [(ngModel)]="clauseState" type="checkbox" />
            <!-- <p class="header-text">Active</p> -->
        </div>
        <!-- <div class="col-lg-3 col-md-3 firm-clause-content empty-cols noselect"></div> -->
    </div>
    <div class="row cluase-error-msg noselect">
        <div class="col-lg-9 col-md-9 noselect">
            <p>{{errmsg}}</p>
        </div>
    </div>
    <div class="row noselect">
        <div class="col-lg-9 col-md-9 noselect">
            <button class="btn btn-block insert-clause-btn" [disabled]="clicked" (click)="insertClause()" type="submit">ADD
        CLAUSE</button>
        </div>
    </div>
</div>