<div class="row admin-sci-header noselect">
  <div class="col-lg-3 col-md-3  header-with-content noselect">
    <p class="header-text">Rate</p>
  </div>
  <div class="col-lg-2 col-md-2 header-with-content noselect">
    <p class="header-text">Unit of Measurement</p>
  </div>
  <div class="col-lg-2 col-md-2 header-with-content noselect">
    <p class="header-text">Rate Value</p>
  </div>
  <div class="col-lg-2 col-md-2 header-with-content noselect">
    <p class="header-text">Start Date</p>
  </div>
  <div class="col-lg-2 col-md-2 header-with-content noselect">
    <p class="header-text">End Date</p>
  </div>
  <div class="col-lg-1 col-md-1 header-with-content noselect">
    <p class="header-text">Active</p>
  </div>

</div>
